/AllTests.class
/TestCategoryChance.class
/TestCategoryFives.class
/TestCategoryFourOfKind.class
/TestCategoryFours.class
/TestCategoryFullHouse.class
/TestCategoryLargeStraight.class
/TestCategoryOnes.class
/TestCategorySixes.class
/TestCategorySmallStraight.class
/TestCategoryThreeOfKind.class
/TestCategoryThrees.class
/TestCategoryTwos.class
/TestCategoryYahtzee.class
/TestComputerPlayer.class
/TestDie.class
/TestPlayer.class
/TestRoller.class
/TestScoreCard.class
/TestSingleCategoryTemplate.class
/TestYahtzeeEngine.class
